/* My Styles */

/*Gloabal*/

body {
	background: url("../img/blackorchid.png");
	background-repeat: repeat;
}
/*body {
	background: #000;
}*/

/* Layout */
img[src*="sushi-maru"] {
	margin: 2em 0;
}

iframe {
	margin-top: 2em;
}

.panel {
	background: #c6c58f;
}

select {

	max-width: 200px;
}

/* Typography */

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	color: gray;
}

p {
	color: #C8C9CA;
}

.sub-nav dt.active a, 
.sub-nav dd.active a, 
.sub-nav li.active a {
	background: #DA0A12;
}

.sub-nav dd.active a:hover,
.sub-nav dd.active a:active {
	background: #C0060D;
}

/* Mix It Up */
#Container .mix{
	display: none;
}

.container{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  background: #68b8c4;
  
  -webkit-backface-visibility: hidden;
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 49%;
}

.container .mix{
  text-align: left;
  background: #03899c;
  margin-bottom: 2%;
  display: none;
}

.container .mix.category-1{
  border-top: 2px solid limegreen;
}

.container .mix.category-2{
  border-top: 2px solid yellow;
}

.container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.container .mix:before{
  content: '';
  display: inline-block;
  padding-top: 60%;
}